.task {
  border: 1px solid black;
  width: 100%;
  min-width: 513px;
  padding-bottom: 15px;
  margin: 10px 0 10px 0;
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.date {
  padding-left: 10px;
}

.description {
  margin: 0;
  padding-left: 5px;
  color: gray;
}

.deleteTaskButton {
  cursor: pointer;
  padding-left: 10px;
}

.doneTitle {
  text-decoration: line-through;
  color: gray;
}

.overdue-date {
  padding-left: 10px;
  color: red;
}
