
form {
    margin-top: 10px;
    width: auto;
    text-align: center;
  }
  
  form button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .input-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }