body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: "Courier New", Courier, monospace;
}

.main {
  display: flex;
  justify-content: center;
}

.main-content {
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

.caption {
  text-align: center;
}

.todo-list {
  min-width: 500px;
  padding: 0 25px 0 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid black;
}
