body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: "Courier New", Courier, monospace;
}

.main {
  display: flex;
  justify-content: center;
}

.main-content {
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
